body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    margin-left: 100px;
}

.border {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 100px;
}

.container {
    position: relative;
}

.color-rows-1 {
    display: inline-block;
    border: 1px solid black;
    width: 30%;
    margin: 10px 5px;
    text-align: center;
}

.color-rows-2 {
    display: block;
    border: 1px solid black;
    width: 30%;
    margin: 10px 5px;
    text-align: center;
}

#blue {
    background-color: #2d5dcc;
    color: white;
}

#pink {
    background-color: #d957d9;
}

#green {
    background-color: #4fe0b0;    
}

#beige {
    background-color: #efd9ca;
}

#fonts {
    position: relative;
}

#fonts-rows-1 {
    display: inline-block;
}

#fonts-rows-2 {
    display: block;
}

.scpro {
    font-family: source code pro, 'Courier New', Courier, monospace;
    width: 45%;
}

.nunito {
    font-family: nunito, 'Courier New', Courier, monospace;
    width: 45%;
}

.poppins {
    font-family: poppins, 'Courier New', Courier, monospace;
}